<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Compressive Strength of Cement</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

<style>
body {
  background-image: url(https://image.freepik.com/free-photo/blur-city-building-background_34836-148.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
</style> 
</head>

<body text='white'>
 <div class="login">
	<h1 style='text-align:center;color:white;font-size:300%'>Compressive Strength of Cement</h1>
     <!-- Main Input For Receiving Query to our ML -->

    <form action="{{ url_for('predict')}}"method="post">
    	Cement in kg per m3 :<input type="number" name="Cement in kg per m3" placeholder="Cement in kg per m3" required="required" /></p>
        Water in kg per m3 :<input type="number" name="Water" placeholder="Water in kg per m3" required="required" /></p>
        Superplasticizer in kg per m3 :<input type="number" name="Superplasticizer" placeholder="Superplasticizer in kg per m3" required="required" /></p>
	Coarse Aggregate in kg per m3 :<input type="number" name="Coarse Aggregate" placeholder="Coarse Aggregate in kg per m3" required="required" /></p>
        Fine Aggregate in kg per m3 :<input type="number" name="Fine Aggregate" placeholder="Fine Aggregate in kg per m3" required="required" /></p>
        Age in days :<input type="number" name="Age (day)" placeholder="Age (day)" required="required" /></p>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button></p>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
</body>
</html>